html {
    box-sizing: border-box;
    background-color: hsl(221, 100%, 96%);
    font-family: "Hanken Grotesk";
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
}

.screen {
    height: 360px;
    width: 550px;
    border-radius: 5px;
    background-color: white;
    margin: 50px;
    box-shadow: 2px 2px 10px -5px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.middle-section{
    display: flex;
    height: 60%;
    width: 60%;
    box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
    border-radius: 15px;
}

.result {
    color: white;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 0.7rem;
    background: rgb(75,54,243);
background: linear-gradient(90deg, rgba(75,54,243,1) 0%, 
                                rgba(75,54,243,1) 100%, 
                                rgba(46,43,233,1) 100%);
    border-radius: 15px;
}

.summary {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.925rem;
    margin: 0 20px;
}

svg {
    width: .8rem;
    position: relative;
    top: 3px
}

.summary > h5 {
    font-size: .675rem;
    margin-top: 8px;
} 

.no, .yes, .reaction-title, .memory-title, .verbal-title, .visual-title {
    display: inline-block;
    font-size: 0.65rem;
}

.summary-content {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.memory, .reaction, .verbal, .visual {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: relative;
    margin-bottom: 7px;
    margin-top: 3px;
    border-radius: 5px;
}

.reaction-title, .memory-title, .verbal-title, .visual-title {
    position: relative;
    top: -3px;
    font-weight: 700;
}
.reaction-title{
    color: hsl(0, 100%, 67%);
}

.reaction {
    background-color: hsla(0, 100%, 67%,.15);
}

.memory-title {
    color:  hsl(39, 100%, 56%);
}

.memory {
background-color:  hsla(39, 100%, 56%,.15)
}

.verbal-title {
    color:  hsl(166, 100%, 37%)
;
}

.verbal {
    background-color: hsla(166, 100%, 37%,.1);
}

.visual-title {
    color: hsl(224, 30%, 27%);
}

.visual {
    background-color: hsla(224, 30%, 27%,.15);
}

.left-part, .right-part {
    display: inline-block; 
}

.no {
    font-weight: 700;
}

.yes {
    opacity: .6;
}

.result > h5 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.64rem;
    opacity: .8;
}



.number {
    position: relative;
    aspect-ratio: 1/1;
    width: 60%;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(36,33,202);
    background: linear-gradient(180deg, rgba(36,33,202,1) 0%, rgba(67,46,225,1) 100%, rgba(78,33,202,1) 100%);
  
}

.number > h1 {
    font-size: 2.1rem;
}

.number > p {
    font-size: .6rem;
    opacity: .5;
    position: relative;
    bottom: 3px
}

.result > h2 {
    font-size: 0.85rem;
    margin-top: 15px;
}

.result > p {
    font-size: .575rem;
    margin: 10px 20px 7px;
    opacity: .5;
}

button {
    background-color: hsl(0, 0%, 0%);
    font-family: "Hanken Grotesk";
    border: none;
    margin: 10px 0px 15px;
    color: white;
    font-size: .6rem;
    padding: 5px 0;
    font-weight: 700;
    border-radius: 13px;
    height: 14%;
    transition-duration: 350ms;
}

button:hover {
    opacity: .9;
    transform: scale(103%)  translateY(-3px);
}
